@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body  {
    background-image: url("bricks.png");
    background-size: cover;
    background-position: center;
    background-color: #d1d1d1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 90%
}

#banner, #demo, #buttons{
    display: block;
    margin: auto;
    max-width: 90%;
}

p, form, ul {
  margin: auto;
  margin-top: 20px; 
  margin-bottom: 20px;
	font-family: 'Open Sans';
	font-size: 24px;
	padding: 5px;
  max-width: 70%;
}


.shrinkable {
	max-width: 100%;
/*	width: 100%;*/
}

td, #experience_media, #portfolio_media {
	margin: auto;
	font-family: 'Open Sans';
	font-size: 20px;
	color: white;
	border: 15px double #6E7B68;
  border-collapse: collapse;
	text-align: center;
	max-width: 70%;
	min-width: 50%;
	padding: 10px;
}

.descp {
  font-size: 14px;
}
.text_link {
  color: #b19492;

}

#skills_table {
  margin: auto;
  font-family: 'Open Sans';
  font-size: 20px;
/*  border-style: double;*/
  border: 15px double #6E7B68;
  border-collapse: collapse;
  color:white;
  max-width: 70%;
  min-width: 50%;
  padding: 10px;
}

#buttons{
  display: block;
  margin: auto;
  max-width: 30%;
  padding: 10px;
}

/*#experience_media, #portfolio_media{
    margin: auto;
    max-width: 30%;
    padding: 20px
}*/

#button_table {
  margin: auto;
}

#left, #right, #go{
  display: inline;
  max-width: 100%;
}

/*refers to the image banners*/
#about, #contact, .banners, #submit_button{
	display: block;
  margin: auto;
	max-width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
}

.container {
  display: inline-block;
  width: 100%;
}

#d_about {
  margin:auto;
/*  position: absolute;
  left: 0px;*/
/*  help*/
/*  width: 60%;*/
  padding-left: 50px;
  padding-right: 50px;
}

#d_contact {
  margin: auto;
/*  position: absolute;
  right: 0px;*/
/*  width: 60%;*/
  padding-left: 50px;
  padding-right: 50px;
}

/*KEEP THIS OR ELSE YOUR BUTTONS WILL LOOK BAD*/
span {
  display: inline-block;
  min-width: 30%;
  width: 100%
  max-width:100%;
}

input[type=text], input[type=email], #message_box  {
	width: 100%;
  font-family: 'Courier';
  font-size: 20px;
}
input[type=text]:focus, input[type=email]:focus, #message_box:focus {
    border: 5px solid #b19492;
    outline: none;
}
