@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body  {
    background-image: url("bricks.png");
    background-size: cover;
    background-position: center;
    background-color: #d1d1d1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 90%
}

#banner, #demo {
    display: block;
    margin: auto;
    max-width: 90%;
}

p, form, #blurb {
	font-family: 'Open Sans';
	font-size: 20px;
}

/*#big{
	display: block;
    margin: auto;
    width: 60%;
}*/

#buttons{
	display: block;
    margin: auto;
    max-width: 30%;
    padding: 20px
}

#left, #right, #go{
	display: inline;
    max-width: 30%;
    padding: 2px;
}

/*refers to the image banners*/


#about, #contact{
	display: block;
    margin: auto;
	max-width: 50%;
}

.container {
  display: inline-block;
  width: 100%;
}

#d_about {
/*  background-color: #9b9190;*/
  position: absolute;
  left: 0px;
  width: 40%;
  padding-left: 50px;
  padding-right: 50px;
}

#d_contact {
/*  background-color: #e3bebd;*/
  position: absolute;
  right: 0px;
  width: 40%;
  padding-left: 50px;
  padding-right: 50px;
}


input[type=text], input[type=email]  {
	width: 100%
}
input[type=text]:focus {
    border: 3px solid #555;
    outline: none;
}


/*PROBLEM I CANT CENTER THE TEXT FOR THE EMAIL FORM FRICK ME M8*/
#message {
	text-align: justify;
    text-align-last:start;
	height: 200px;
    width: 100%;
}